{% comment %}
  Parameters:
  - results {Object} - Results object (collection or search).

  Usage:
  {% render 'facet-filters', results: collection %}
{% endcomment %}

{%- liquid
  assign has_price_filter = false
  assign active_filters_count = 0
  assign sort_by = results.sort_by | default: results.default_sort_by

  for filter in results.filters
    if filter.type == 'price_range'
      assign has_price_filter = true

      if filter.min_value.value
        assign active_filters_count = active_filters_count | plus: 1
      endif
      if filter.max_value.value
        assign active_filters_count = active_filters_count | plus: 1
      endif
    else
      assign active_filters_count = active_filters_count | plus: filter.active_values.size
    endif
  endfor

  if results.url
    if results.current_vendor or results.current_type
      assign clear_filters_url = results.url | append: '&sort_by=' | append: sort_by
    else
      assign clear_filters_url = results.url | append: '?sort_by=' | append: sort_by
    endif
  else
    assign terms = results.terms | escape
    assign types = results.types | join: ',' | escape
  endif

  if results.products_count
    assign results_count = results.products_count
  else
    assign results_count = results.results_count
  endif
-%}

{%- unless results.url -%}
  {%- capture clear_filters_url -%}
    ?type={{ types }}&options%5Bprefix%5D=last&q={{ terms }}&sort_by={{ sort_by }}
  {%- endcapture -%}
{%- endunless -%}

<link rel="stylesheet" href="{{ 'facet-filters.css' | asset_url }}">
{%- if has_price_filter -%}
  <link rel="stylesheet" href="{{ 'price-range.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>
  <link rel="stylesheet" href="{{ 'price-range.css' | asset_url }}">
</noscript>

<script src="{{ 'facet-filters.js' | asset_url }}" defer="defer"></script>
{%- if has_price_filter -%}
  <script src="{{ 'price-range.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.show_prod_totals or section.settings.enable_sorting or section.settings.enable_filtering -%}
  <div class="results-header flex flex-wrap justify-end items-baseline -mt-6 mb-8">
    {%- if section.settings.show_prod_totals -%}
      <h2 class="results-header__count my-2 me-6" id="results-count">
        {%- if request.page_type == 'search' -%}
          {{ 'products.filtering.results_count' | t: count: results.results_count }}
        {%- else -%}
          {{ 'sections.collection.product_count' | t: count: paginate.items }}
        {%- endif -%}
      </h2>
    {%- endif -%}

    <div class="flex flex-1 justify-end order-2">
      {%- if section.settings.enable_sorting -%}
        {%- liquid
          assign sort_by = results.sort_by | default: results.default_sort_by
        -%}

        <div class="results-header__sortby no-js-hidden{% if section.settings.enable_sorting %} mobile-visually-hidden{% endif %}"> 
          <label class="label label--inline visually-hidden" for="sort-by">
            {{- 'products.sorting.sort_by_label' | t -}}
          </label>
          <div class="select inline-block relative">
            <select name="sort_by" id="sort-by">
              {%- for option in results.sort_options -%}
                {%- liquid
                  if section.settings.sort_show_featured == false and option.value == 'manual' and collection.default_sort_by != 'manual'
                    continue
                  endif
                  if section.settings.sort_show_best == false and option.value == 'best-selling' and collection.default_sort_by != 'best-selling'
                    continue
                  endif
                  if section.settings.sort_show_alpha == false and option.value == 'title-ascending' and collection.default_sort_by != 'title-ascending'
                    continue
                  endif
                  if section.settings.sort_show_alpha == false and option.value == 'title-descending' and collection.default_sort_by != 'title-descending'
                    continue
                  endif
                  if section.settings.sort_show_price == false and option.value == 'price-ascending' and collection.default_sort_by != 'price-ascending'
                    continue
                  endif
                  if section.settings.sort_show_price == false and option.value == 'price-descending' and collection.default_sort_by != 'price-descending'
                    continue
                  endif
                  if section.settings.sort_show_date == false and option.value == 'created-ascending' and collection.default_sort_by != 'created-ascending'
                    continue
                  endif
                  if section.settings.sort_show_date == false and option.value == 'created-descending' and collection.default_sort_by != 'created-descending'
                    continue
                  endif
                -%}
                <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected{% endif %}>
                  {{- option.name | escape -}}
                </option>
              {%- endfor -%}
            </select>
          </div>
        </div>
      {%- endif -%}

      {%- if section.settings.enable_filtering -%}
        <button type="button" class="results-header__filter btn btn--primary js-show-filters no-js-hidden">
          {% render 'icon-filter' %} {{ 'products.filtering.filter' | t }}
        </button>
      {%- endif -%}
    </div>

    {%- if section.settings.enable_filtering -%}
      <div class="active-filters mt-6 md:mt-2 order-3 md:order-1 w-full md:w-auto"{% if active_filters_count == 0 %} hidden{% endif %}>
        {%- for filter in results.filters -%}
          {%- for value in filter.active_values -%}
            <a href="{{ value.url_to_remove }}" class="active-filters__item pill mb-2 me-4 inline-flex items-center">
              <span>
                {%- if filter.type == 'boolean' %}{{ filter.label | escape }}:{% endif %}
                {{ value.label | escape -}}
              </span>
              {% render 'icon-close' %}
            </a>
          {%- endfor -%}

          {% if filter.type == "price_range" %}
            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
              <a href="{{ filter.url_to_remove }}" class="active-filters__item pill mb-2 me-4 inline-flex items-center">
                {%- if filter.min_value.value %}{{ filter.min_value.value | money }}{% else %}{{ 0 | money }}{% endif %} -
                {% if filter.max_value.value %}{{ filter.max_value.value | money }}{% else %}{{ filter.range_max | money }}{% endif -%}
                {% render 'icon-close' %}
              </a>
            {%- endif -%}
          {% endif %}
        {%- endfor -%}

        <a href="{{ clear_filters_url }}" class="link js-reset-filters">
          {{- 'products.filtering.clear_all' | t -}}
        </a>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

{%- if section.settings.enable_filtering -%}
  <facet-filters class="facets drawer fixed top-0 right-0 flex flex-col w-full has-motion" id="facet-filters" role="dialog" data-filtering="{{ section.settings.enable_filtering }}" data-sorting="{{ section.settings.enable_sorting }}" data-filters-open="{{ section.settings.filters_open }}" aria-labelledby="facets-title" aria-modal="true" aria-hidden="true" tabindex="-1">
    <header class="drawer__header flex justify-between items-center">
      <h2 class="h4 mb-0" id="facets-title">
        <span class="hidden md:block">{{ 'products.filtering.title' | t }}</span>
        <span class="md:hidden">{{ 'products.filtering.filter_sort' | t }}</span>
      </h2>
      <button type="button" class="drawer__close-btn js-close-drawer">
        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
        {% render 'icon-close' %}
      </button>
    </header>

    <div class="drawer__content">
      <form id="facets" novalidate>
        {%- if results.current_vendor or results.current_type -%}
          <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
        {%- elsif results.terms -%}
          <input type="hidden" name="q" value="{{ results.terms | escape }}">
          <input type="hidden" name="type" value="{{ types }}">
          <input name="options[prefix]" type="hidden" value="last">
        {%- endif -%}

        <div class="facets__filters">
          {%- if section.settings.enable_sorting -%}
            <details-disclosure class="md:hidden">
              <details class="filter disclosure" id="drawer-sort-by" name="sort_by" data-type="sort" data-index="0">
                <summary class="filter__toggle">
                  <div class="flex justify-between items-center">
                    <span class="disclosure__title flex-auto">{{ 'products.sorting.sort_by_label' | t }}</span>
                    <span class="disclosure__toggle">
                      {%- if settings.disclosure_toggle == 'plus' -%}
                        {% render 'icon-plus' %}
                      {%- else -%}
                        {% render 'icon-chevron-down' %}
                      {%- endif -%}
                    </span>
                  </div>
                </summary>
                <div class="disclosure__panel has-motion">
                  <div class="disclosure__content">
                    <div class="filter__content">
                      <ul role="list">
                        {%- for option in results.sort_options -%}
                          {%- liquid
                            if section.settings.sort_show_featured == false and option.value == 'manual' and collection.default_sort_by != 'manual'
                              continue
                            endif
                            if section.settings.sort_show_best == false and option.value == 'best-selling' and collection.default_sort_by != 'best-selling'
                              continue
                            endif
                            if section.settings.sort_show_alpha == false and option.value == 'title-ascending' and collection.default_sort_by != 'title-ascending'
                              continue
                            endif
                            if section.settings.sort_show_alpha == false and option.value == 'title-descending' and collection.default_sort_by != 'title-descending'
                              continue
                            endif
                            if section.settings.sort_show_price == false and option.value == 'price-ascending' and collection.default_sort_by != 'price-ascending'
                              continue
                            endif
                            if section.settings.sort_show_price == false and option.value == 'price-descending' and collection.default_sort_by != 'price-descending'
                              continue
                            endif
                            if section.settings.sort_show_date == false and option.value == 'created-ascending' and collection.default_sort_by != 'created-ascending'
                              continue
                            endif
                            if section.settings.sort_show_date == false and option.value == 'created-descending' and collection.default_sort_by != 'created-descending'
                              continue
                            endif
                          -%}
                          <li class="mb-1">
                            <input type="radio" class="radio" id="sort-by-{{ forloop.index }}" name="sort_by" value="{{ option.value | escape }}"{% if option.value == sort_by %} checked{% endif %}>
                            <label class="filter__label" for="sort-by-{{ forloop.index }}">{{ option.name | escape }}</label>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </div>
              </details>
            </details-disclosure>
          {%- endif -%}

          {%- for filter in results.filters -%}
            {%- liquid
              assign swatches = false
              assign active_count = filter.active_values.size
              assign selectable_filter_count = 0

              if settings.swatch_source == 'theme' and settings.swatch_colors != blank and settings.swatch_option_name contains filter.label
                assign swatches = true
              endif

              if filter.presentation == 'swatch' or filter.presentation == 'image'
                assign swatches = true
              endif

              if filter.type == 'price_range'
                if filter.min_value.value
                  assign active_count = active_count | plus: 1
                endif
                if filter.max_value.value
                  assign active_count = active_count | plus: 1
                endif
              endif
            -%}

            <details-disclosure>
              <details class="filter disclosure" data-type="{{ filter.type }}" id="filter-details-{{ filter.param_name | escape }}"{% if active_count > 0 %} open{% endif %}>
                <summary class="filter__toggle">
                  <div class="flex justify-between items-center">
                    <span class="disclosure__title flex-auto">{{ filter.label | escape }}</span>
                    <span class="disclosure__toggle">
                      {%- if settings.disclosure_toggle == 'plus' -%}
                        {% render 'icon-plus' %}
                      {%- else -%}
                        {% render 'icon-chevron-down' %}
                      {%- endif -%}
                    </span>
                  </div>
                </summary>
                <div class="disclosure__panel has-motion">
                  <div class="disclosure__content">
                    <div class="filter__content">
                      {%- case filter.type -%}
                        {%- when 'boolean' or 'list' -%}
                          <ul class="filter__list{% if swatches %} filter__swatches flex flex-wrap{% endif %}" role="list">
                            {%- for value in filter.values -%}
                              {%- assign selectable_filter_count = selectable_filter_count | plus: 1 -%}
                              <li {% if selectable_filter_count > section.settings.max_filter_options and swatches == false %}class="js-hidden"{% endif %}>
                                <input type="checkbox"
                                      class="{% unless swatches %}checkbox {% endunless %}visually-hidden focus-label-before"
                                      id="filter-{{ filter.param_name | escape }}-{{ value.value | escape }}"
                                      name="{{ value.param_name }}"
                                      value="{{ value.value | escape }}"
                                      {% if value.active %}checked{% endif %}
                                      {% if value.count == 0 and value.active == false %}disabled{% endif %}>
                                <label for="filter-{{ filter.param_name | escape }}-{{ value.value | escape }}"
                                      class="filter__label flex items-start w-full m-0"
                                      {%- if swatches %} data-swatch="{{ value.label | replace: '"', '' | downcase }}"
                                        {%- if value.swatch and value.swatch.image %}
                                          style="--native-swatch-image: url({{ value.swatch.image | image_url: width: 40, height: 40, crop: 'center' }})"
                                        {%- elsif value.swatch and value.swatch.color %}
                                          style="--native-swatch-color: rgb({{ value.swatch.color.rgb }})"
                                        {%- endif %}
                                      {% endif %}>
                                  <span class="flex-auto{% if swatches %} visually-hidden{% endif %}">{{ value.label | escape }}</span>
                                  {% if section.settings.show_filter_counts and swatches == false -%}
                                    <span>({{ value.count }})</span>
                                  {%- endif -%}
                                </label>
                              </li>
                            {%- endfor -%}
                          </ul>

                        {%- when 'price_range' -%}
                          {% render 'price-range', filter: filter %}

                      {%- endcase -%}
                    </div>

                    {%- if selectable_filter_count > section.settings.max_filter_options and swatches == false -%}
                      <button type="button" class="link mt-3 js-show-more">
                        {{- 'products.filtering.show_more' | t -}}
                      </button>
                    {%- endif -%}
                  </div>
                </div>
              </details>
            </details-disclosure>
          {%- endfor -%}
        </div>
      </form>
    </div>

    <div class="facets__footer drawer__footer">
      <button type="button" class="btn btn--primary w-full js-close-drawer no-js-hidden">
        {{- 'products.filtering.results_count' | t: count: results_count -}}
      </button>
      <noscript class="no-js-apply-filters">
        <button type="submit" class="btn btn--primary">{{- 'products.filtering.apply' | t }}</button>
      </noscript>
    </div>
  </facet-filters>
{%- endif -%}
