{% comment %}
  Parameters:
  - id {String} - Unique ID.
  - class {String} - Classes for the form element (optional, default is 'form').
  - tags {String} - Contact tags (optional, default is 'newsletter').
  - hide_label {Boolean} - Visually hide the label (optional, default is true).
  - combined {Boolean} - Input and button should be combined in a single row (optional, default is true).
  - arrow_button {Boolean} - Use an arrow icon instead of text for the button (optional, default is false).

  Usage:
  {% render 'newsletter-signup',
    id: 'footer-signup',
    tags: 'newsletter, footer',
    hide_label: true
  %}
{% endcomment %}

{%- liquid
  if class == blank
    assign class = 'form'
  endif

  if tags == blank
    assign tags = 'newsletter'
  endif

  if hide_label != false
    assign hide_label = true
  endif
-%}

{% form 'customer', class: class %}
  <input type="hidden" name="contact[tags]" value="prospect, {{ tags }}">

  {%- if form.posted_successfully? -%}
    <div class="alert mb-8 bg-success-bg text-success-text" id="{{ id }}-success" tabindex="-1" autofocus>
      {{ 'newsletter.success' | t }}
    </div>
  {%- endif -%}

  <div class="{% if combined == false %}mb-4{% else %}form__field{% endif %}">
    <label class="label{% if hide_label %} visually-hidden{% endif %}" for="{{ id }}">
      {{- 'newsletter.label' | t -}}
    </label>

    {%- unless combined == false -%}
      <div class="{% if arrow_button %}input-with-arrow relative{% else %}input-with-button input-with-button--sm-up{% endif %}">
    {%- endunless -%}

      <input type="email"
             class="input w-full focus-inset"
             id="{{ id }}"
             name="contact[email]"
             value="{{ form.email }}"
             placeholder="{{ 'newsletter.placeholder' | t }}"
             autocomplete="email"
             {%- if form.posted_successfully? %}
               aria-describedby="{{ id }}-success"
             {%- elsif form.errors %}
               aria-invalid="true"
               aria-describedby="{{ id }}-error"
               autofocus
             {%- endif %}
             aria-required="true"
             required>

    {%- unless combined == false -%}
        {%- if arrow_button -%}
          <button class="btn absolute top-0 ltr:right-0 rtl:left-0 h-full focus-inset has-ltr-icon">
            <span class="visually-hidden">{{- 'newsletter.button_label' | t -}}</span>
            {% render 'icon-arrow-right' %}
          </button>
        {%- else -%}
          <button class="btn btn--primary" style="background-color: {{ btn_color }};">{% if btn_label != blank %} {{ btn_label }} {% else %} {{ 'newsletter.button_label' | t }} {% endif %} </button>
        {%- endif -%}
      </div>
    {%- endunless -%}

    {%- if form.errors -%}
      <p class="form__field-error" id="{{ id }}-error">
        {{ form.errors.translated_fields['email'] | capitalize }}
        {{ form.errors.messages['email'] }}
      </p>
    {%- endif -%}
  </div>

  {%- if combined == false -%}
    <div class="form__actions">
      <button class="btn btn--primary w-full">{{ 'newsletter.button_label' | t }}</button>
    </div>
  {%- endif -%}
{% endform %}
