{% comment %}
  Parameters:
  - id {String} - Unique ID.
  - default_country {String} - Country to select by default.
  - no_heading {Boolean} - Skips outputting the heading (optional).

  Usage:
  {% render 'shipping-calculator', id: 'some-id', default_country: 'United States' %}
{% endcomment %}

<script src="{{ 'country-province-selector.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'shipping-calculator.js' | asset_url }}" defer="defer"></script>

<shipping-calculator>
  {% unless no_heading %}<h2 class="h4">{{ 'cart.shipping_calculator.title' | t }}</h2>{% endunless %}
  <country-province-selector class="grid grid-cols-2 gap-x-6 gap-y-6 items-end">
    <div class="col-span-2 xl:col-span-1">
      <label class="label" for="{{ id }}-shipping-country">{{ 'cart.shipping_calculator.country' | t }}</label>
      <div class="select relative">
        <select class="w-full js-country-select" id="{{ id }}-shipping-country" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif default_country != blank %}{{ default_country | escape }}{% endif %}" autocomplete="country">
          {{ all_country_option_tags }}
        </select>
      </div>
    </div>
    <div class="col-span-2 xl:col-span-1 js-province-container" hidden>
      <label class="label" for="{{ id }}-shipping-province">{{ 'cart.shipping_calculator.province' | t }}</label>
      <div class="select relative">
        <select class="w-full js-province-select" id="{{ id }}-shipping-province" data-default="{{ customer.default_address.province }}" autocomplete="address-level1"></select>
      </div>
    </div>
    <div class="col-span-2 sm:col-span-1">
      <label class="label" for="{{ id }}-shipping-zip">{{ 'cart.shipping_calculator.zip' | t }}</label>
      <input type="text" class="input w-full js-zip-input" id="{{ id }}-shipping-zip" autocomplete="postal-code">
    </div>
    <button type="button" class="btn btn--primary col-span-2 sm:col-span-1">
      {{- 'cart.shipping_calculator.submit' | t -}}
    </button>
  </country-province-selector>
  <div class="alert bg-success-bg text-success-text mt-6 js-rates" hidden>
    <h3 class="h6 text-current js-rates-heading"></h3>
    <div class="js-rates-text"></div>
  </div>
  <div class="alert mt-6 bg-error-bg text-error-text js-errors" hidden>
    <h3 class="h6 text-current">{{ 'cart.shipping_calculator.error' | t }}</h3>
    <div class="js-errors-text"></div>
  </div>
</shipping-calculator>
