<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">

{%- style -%}
  .footer {
    --bg-color: {{ settings.footer_bg_color.rgba }};
    --heading-color: {{ settings.footer_text_color.rgb }};
    --text-color: {{ settings.footer_text_color.rgb }};
    --link-color: {{ settings.footer_text_color.rgb }};
  }
{%- endstyle -%}

{%- liquid
  assign copyright_year = 'now' | date: '%Y'

  if section.settings.enable_country_selector and localization.available_countries.size > 1
    assign enable_country_selector = true
  else
    assign enable_country_selector = false
  endif

  if section.settings.enable_language_selector and localization.available_languages.size > 1
    assign enable_language_selector = true
  else
    assign enable_language_selector = false
  endif

  assign footer_transparent = false

  if settings.footer_bg_color == settings.bg_color or settings.footer_bg_color == 'rgba(0,0,0,0)'
    assign footer_transparent = true
  endif
-%}

<footer class="footer{% if section.settings.boundary_effect != blank %} content-boundary content-boundary--{{ section.settings.boundary_effect }}{% else %}{% if footer_transparent == true %} footer--transparent{% endif %}{% endif %}">
  {%- if section.blocks.size > 0 -%}
    <div class="container">
      <div class="footer__main">
        {%- for block in section.blocks -%}
          {%- case block.type -%}

            {%- when 'link_list' -%}
              <div class="footer-block footer-block--links flex-1" {{ block.shopify_attributes }}>
                {% if block.settings.heading != blank %}
                  <h2 class="footer-block__heading h6 mb-5 uppercase">{{ block.settings.heading | escape }}</h2>
                {% endif %}
                <ul class="footer-menu" role="list">
                  {%- for link in block.settings.menu.links -%}
                    <li class="footer-menu__item" {% if forloop.first and block.settings.heading == blank %}style="margin-top: 0;"{% endif %}>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>

            {%- when 'text' -%}
              <div class="footer-block footer-block--text flex-1" {{ block.shopify_attributes }}>
                {%- if block.settings.image != blank -%}
                  <div class="footer-block__image" style="max-width: {{ block.settings.image_width }}px;">
                    {% render 'image', class: "footer-block__image", image: block.settings.image, src_width: block.settings.image_width, srcset_2x: true %}
                    <div class="mt-2 flex justify-center">
                      {% render 'social-media', icon: settings.social_custom_icon, icon_height: 34 %}
                    </div>
                  </div>
                {%- endif -%}

                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading h6 mb-5 uppercase">{{ block.settings.heading | escape }}</h2>
                {%- endif -%}

                {%- if block.settings.text != blank -%}
                  <div class="footer-block__text rte">
                    {{ block.settings.text }}
                  </div>
                {%- endif -%}

                {%- if block.settings.button_label != blank -%}
                  <div class="footer-block__btn mt-6">
                    <a class="btn btn--secondary" {% if block.settings.button_link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.button_link }}"{% endif %}>
                      {{- block.settings.button_label | escape -}}
                    </a>
                  </div>
                {%- endif -%}

                {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                  <div class="footer-block__follow-on-shop mt-6">
                    {{- shop | login_button: action: 'follow' -}}
                  </div>
                {%- endif -%}
              </div>

            {%- when 'address' -%}
            <div class="footer-block flex-3 grow-[3] address-block" >
              <p class="flex align-center gap-theme">
                  {%  render 'icon-fly' %}
                  
                  <a href="mailto:{{ block.settings.email }}">
                    {{ block.settings.email }}
                  </a>
              </p>
              <!-- <p class="flex align-center gap-theme">
                  {% render 'icon-phone2' %}
                  
                  <a href="tel:+1{{ block.settings.phone }}">
                    {{ block.settings.phone }}
                  </a>
              </p> -->
              <div class="address-lines flex gap-theme">
                <div style="width: 26px;"></div>
                <div>{{ block.settings.address }}</div>
              </div>
            </div>

            {%- when 'newsletter-signup' -%}
              <div class="footer-block footer-block--newsletter w-full md:flex-1 lg:grow-[2]" {{ block.shopify_attributes }}>
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading h6 mb-5 uppercase">{{ block.settings.heading | escape }}</h2>
                {%- endif -%}

                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}

                <div class="mt-6">
                  {% render 'newsletter-signup', id: 'footer-signup', arrow_button: true %}
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}

  {%- if enable_country_selector or enable_language_selector or section.settings.show_social -%}
    <div class="lower-footer{% if section.blocks.size == 0 %} no-border-top{% endif %}">
      <div class="container">
        {%- if enable_country_selector or enable_language_selector -%}
          <div class="lower-footer__left">
            {% render 'localization-form',
              id: 'footer-localization',
              hide_labels: true,
              include_native: true
            %}
          </div>
        {%- endif -%}

        {%- if section.settings.show_social -%}
          <div class="{% if enable_country_selector == false and enable_language_selector == false %}w-full text-center{% else %}lower-footer__right{% endif %}">
            {% render 'social-media', icon: settings.social_custom_icon, icon_height: 44 %}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="lower-footer">
    <div class="container">
      <div class="lower-footer__left">
        <div class="copyright">
          <span class="seg">{{ 'sections.footer.copyright_html' | t: year: copyright_year, shop_url: routes.root_url, shop_name: shop.name }}</span>

          {% if section.settings.show_powered_by -%}
            {{ powered_by_link }}
          {%- endif -%}
        </div>
      </div>

      {%- if section.settings.show_payment_icons -%}
        <div class="lower-footer__right payment-methods">
          <div class="payment-methods__inner flex flex-wrap">
            {%- for type in shop.enabled_payment_types -%}
              {{ type | payment_type_svg_tag: class: 'payment-icon' }}
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "Show 'Powered by Shopify'",
      "default": true
    },
    {
      "type": "header",
      "content": "Social"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/Region selector",
      "info": "To add a country/region, go to your [payment settings](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "label": "Enable country/region selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "label": "Enable language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "boundary_effect",
      "label": "Top boundary effect",
      "options": [
        {
          "value": "",
          "label": "Off"
        },
        {
          "value": "top",
          "label": "On"
        },
        {
          "value": "top-flipped",
          "label": "On (flipped)"
        }
      ],
      "default": ""
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Footer links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items",
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": "Image and text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Maximum image width",
          "default": 150
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Talk about your store"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "header",
          "content": "Follow on Shop",
          "info": "Display follow button for your storefront on the Shop app. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "default": false,
          "label": "Enable Follow on Shop"
        }
      ]
    },
    {
      "type": "newsletter-signup",
      "name": "Newsletter sign-up",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Sign up for exclusive offers, original stories, events and more.</p>"
        },
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have an account created for them. [Learn more](https://help.shopify.com/en/manual/customers/manage-customers)"
        }
      ]
    },
    {
      "type": "address",
      "name":"Address",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "email",
          "label": "Email"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone"
        },
        {
          "type": "richtext",
          "id": "address",
          "label": "Address"
        }
      ]
    }
  ]
}
{% endschema %}
