{%- if settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'variant-picker.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  if search.results_count > 0
    assign grid_classes = 'grid-cols-' | append: settings.prod_card_mob_per_row

    if section.settings.card_size == 'small'
      assign grid_classes = grid_classes | append: ' md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5'
    elsif section.settings.card_size == 'medium'
      assign grid_classes = grid_classes | append: ' sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'
    else
      assign grid_classes = grid_classes | append: ' md:grid-cols-2 xl:grid-cols-3'
    endif
  endif
-%}

<div class="section section--page-width">
  <div class="mb-section text-center -mt-4">
    <div class="search-page-form form-width mx-auto">
      {% render 'predictive-search', id: 'main-search', persist_value: true %}
    </div>

    {%- if search.performed -%}
      {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
        {%- if search.results_count > 0 -%}
          <p class="reading-width mt-12 mb-0" role="status">
            {{- 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count -}}
          </p>
        {%- endif -%}
      {%- endunless -%}

      {%- if search.results_count == 0 and search.filters == empty -%}
        <p class="reading-width mt-12 mb-0" role="status">
          {{- 'templates.search.no_results' | t: terms: search.terms -}}
        </p>
      {%- endif -%}
    {%- endif -%}
  </div>

  {%- if search.performed -%}
    {%- paginate search.results by section.settings.results_per_page -%}
      {% render 'facet-filters', results: search, paginate: paginate %}

      <div class="product-list" id="filter-results">
        {%- if search.results.size == 0 and search.filters != empty -%}
          <p>{{ 'sections.collection.empty' | t }}</p>
        {%- else -%}
          {%- liquid
            if settings.prod_card_image_ratio == 'shortest'
              assign image_ratio = 0
              for item in search.results
                if item.object_type == 'product'
                  if item.featured_media.preview_image.aspect_ratio > image_ratio
                    assign image_ratio = item.featured_media.preview_image.aspect_ratio
                  endif
                else
                  if item.image.aspect_ratio > image_ratio
                    assign image_ratio = item.image.aspect_ratio
                  endif
                endif
              endfor
            elsif settings.prod_card_image_ratio == 'tallest'
              assign image_ratio = 99
              for item in search.results
                if item.object_type == 'product'
                  if item.featured_media.preview_image.aspect_ratio < image_ratio
                    assign image_ratio = item.featured_media.preview_image.aspect_ratio
                  endif
                else
                  if item.image.aspect_ratio < image_ratio
                    assign image_ratio = item.image.aspect_ratio
                  endif
                endif
              endfor
            else
              assign image_ratio = settings.prod_card_image_ratio
            endif
          -%}
          <ul class="grid {{ grid_classes }} gap-x-theme gap-y-card" role="list">
            {%- for item in search.results -%}
              <li class="flex flex-col">
                {%- case item.object_type -%}
                  {%- when 'product' -%}
                    {% render 'product-card', product: item, image_ratio: image_ratio %}

                  {%- when 'article' -%}
                    {% render 'article-card',
                      article: item,
                      image_ratio: image_ratio,
                      show_date: section.settings.show_article_date,
                      show_author: section.settings.show_article_author,
                      show_excerpt: false
                    %}

                  {%- when 'page' -%}
                    <article class="card relative grow w-full">
                      <div class="card__info">
                        <h3 class="card__title">
                          <a href="{{ item.url }}" class="card-link text-current">{{ item.title | truncate: 50 | escape }}</a>
                        </h3>
                      </div>
                    </article>
                {%- endcase -%}
              </li>
            {%- endfor -%}
          </ul>

          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate %}
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endpaginate -%}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Search page",
  "class": "cc-main-search",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "results_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "label": "Results per page",
      "default": 16
    },
    {
      "type": "select",
      "id": "card_size",
      "label": "Card size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "show_prod_totals",
      "label": "Show results total",
      "default": true
    },
    {
      "type": "header",
      "content": "Filtering"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "label": "Enable filtering",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_filter_counts",
      "label": "Show product counts",
      "default": true
    },
    {
      "type": "select",
      "id": "filters_open",
      "label": "Filters open by default (desktop)",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "some",
          "label": "First 4"
        },
        {
          "value": "all",
          "label": "All"
        }
      ],
      "default": "some"
    },
    {
      "type": "range",
      "id": "max_filter_options",
      "label": "Visible options per filter",
      "info": "Remaining options will be automatically collapsed. Not applied to swatches.",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 7
    },
    {
      "type": "header",
      "content": "Sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "Enable sorting",
      "default": true
    },
    {
      "type": "header",
      "content": "Blog cards"
    },
    {
      "type": "checkbox",
      "id": "show_article_date",
      "default": true,
      "label": "Show date"
    },
    {
      "type": "checkbox",
      "id": "show_article_author",
      "default": false,
      "label": "Show author"
    }
  ]
}
{% endschema %}
